@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Passion+One&family=Sriracha&display=swap');


* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: rgb(20, 20, 20) url('../imagens/sangue.png') top no-repeat fixed;
    background-size: cover;
    margin: 0px auto;
}

header {
    background-position: top;
    background-color: rgb(20, 20, 20);
    width: 100vw;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-icons {
    font-size: 30px;
    cursor: pointer;
}

menu {
    display: none;
}

menu a {
    text-decoration: none;
}

menu li {
    list-style-type: none;
}

header a {
    text-decoration: none;
}

header img#logo {
    width: 100px;
}

article img {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

main > div > img#foto1 {
    height: 50vh;
}

main > div > img#foto1:hover {
    background-image: url('../imagens/foto1\ -\ costas.webp');
    cursor: pointer;
}